1. Importing Libraries and Data Set

In [1]:
# Importing Libraries
import pandas as pd

In [2]:
# Load the dataset
file_path = "critic_reviews.csv"  # Update the path if necessary
df = pd.read_csv(file_path)

2. Inspecting the Dataset

In [3]:
print(df.head())          # View the first few rows
print(df.info())          # Check column data types and non-null values
print(df.describe())      # Summary statistics for numerical columns
print(df.isnull().sum())  # Count of missing values per column

   reviewId creationDate      criticName            criticPageUrl reviewState  \
0   1912176   1966-07-30  Jennie Kermode  /critics/jennie-kermode       fresh
1   1895073   1998-08-21      Scott Nash      /critics/scott-nash       fresh
2     25507   2000-01-01     Roger Ebert     /critics/roger-ebert       fresh
3     25508   2000-01-01             NaN                      NaN      rotten
4     25509   2000-01-01       Joe Brown       /critics/joe-brown       fresh

   isFresh  isRotten isRtUrl  isTopCritic        publicationUrl  \
0     True     False   False        False  /critics/source/1869
1     True     False   False        False  /critics/source/1465
2     True     False   False         True    /critics/source/67
3    False      True   False         True   /critics/source/148
4     True     False   False         True   /critics/source/474

     publicationName                                          reviewUrl  \
0       Eye for Film    http://www.eyeforfilm.co.uk/reviews.php?id=7898
1  Three Movie Buffs        http://www.threemoviebuffs.com/review/blade
2  Chicago Sun-Times  http://www.rogerebert.com/reviews/the-rocketee...
3    Empire Magazine  http://www.empireonline.com/reviews/reviewcomp...
4    Washington Post  http://www.washingtonpost.com/wp-srv/style/lon...

                                               quote scoreSentiment  \
0                                                NaN       POSITIVE
1  It's stylish and fast-paced. It's also a lot o...       POSITIVE
2  You have to dial down, to return to an age of ...       POSITIVE
3        Reaches for the skies but runs out of fuel.       NEGATIVE
4  Based on a comic book, deliciously corny but n...       POSITIVE

  originalScore                               movieId
0           4/5  7602d2ab-c9bc-3439-9cd6-d3a06e81728e
1           3/4  4128b2f6-8c69-396a-a83d-0d44eb90e5f7
2           3/4  01935e47-e735-30c3-b8bd-72a9dbbcfa8a
3           2/5  01935e47-e735-30c3-b8bd-72a9dbbcfa8a
4           NaN  01935e47-e735-30c3-b8bd-72a9dbbcfa8a
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27142 entries, 0 to 27141
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   reviewId         27142 non-null  int64
 1   creationDate     27142 non-null  object
 2   criticName       27054 non-null  object
 3   criticPageUrl    27054 non-null  object
 4   reviewState      27142 non-null  object
 5   isFresh          27142 non-null  bool
 6   isRotten         27142 non-null  bool
 7   isRtUrl          26513 non-null  object
 8   isTopCritic      27142 non-null  bool
 9   publicationUrl   27142 non-null  object
 10  publicationName  27142 non-null  object
 11  reviewUrl        25077 non-null  object
 12  quote            26953 non-null  object
 13  scoreSentiment   27142 non-null  object
 14  originalScore    19413 non-null  object
 15  movieId          27142 non-null  object
dtypes: bool(3), int64(1), object(12)
memory usage: 2.8+ MB
None
           reviewId
count  2.714200e+04
mean   1.628587e+07
std    3.493963e+07
min    1.705000e+03
25%    2.082886e+06
50%    2.407968e+06
75%    2.667693e+06
max    1.029234e+08
reviewId              0
creationDate          0
criticName           88
criticPageUrl        88
reviewState           0
isFresh               0
isRotten              0
isRtUrl             629
isTopCritic           0
publicationUrl        0
publicationName       0
reviewUrl          2065
quote               189
scoreSentiment        0
originalScore      7729
movieId               0
dtype: int64

3. Data Cleaning

In [4]:
# Handling Missing Values
df['criticName'] = df['criticName'].fillna("n/a")
df['criticPageUrl'] = df['criticPageUrl'].fillna("n/a")

# Using a placehold for missing numerical values
df['originalScore'] = df['originalScore'].fillna(0)  # Replace with 0

# Dropping irrelevant columns with missing values
df = df.drop(columns = ['isRtUrl', 'reviewUrl', 'quote', 'publicationUrl'], errors = 'ignore')

print(df.isnull().sum()) # Testing to make sure missing values are handled

reviewId           0
creationDate       0
criticName         0
criticPageUrl      0
reviewState        0
isFresh            0
isRotten           0
isTopCritic        0
publicationName    0
scoreSentiment     0
originalScore      0
movieId            0
dtype: int64

In [5]:
# Handling different inputs for originalScore

def clean_original_score(value):
    # Handle missing or placeholder values
    if value == "-1" or pd.isnull(value):
        return None  # Replace with NULL for SQL
    
    # Handle fractions like "2.5/4" or "76/100"
    if isinstance(value, str) and "/" in value:
        try:
            numerator, denominator = map(float, value.split("/"))
            return numerator / denominator  # Convert to decimal
        except ValueError:
            return None  # If it fails to split correctly
    
    # Handle letter grades
    letter_to_score = {
        "A": 4.0, "A-": 3.7, "B+": 3.3, "B": 3.0, "B-": 2.7,
        "C+": 2.3, "C": 2.0, "C-": 1.7, "D": 1.0, "F": 0.0
    }
    if value in letter_to_score:
        return letter_to_score[value]
    
    # Handle date-like values (e.g., "5-Apr")
    months = ["jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec"]
    if isinstance(value, str) and any(month in value.lower() for month in months):
        return None  # Replace with NULL for SQL
    
    # Handle direct numerical scores
    try:
        return float(value)
    except ValueError:
        return None  # If it can't be converted, replace with NULL

df["originalScore"] = df["originalScore"].apply(clean_original_score)

In [6]:
# Checking for Duplicates
print(df.duplicated(subset=['reviewId']).sum())

0

In [7]:
# Exporting cleaned dataset
df.to_csv("cleaned_critic_reviews.csv", index=False)